.img {
    
    width: inherit;
    height: inherit;
}

.mod {
    border-radius: 10px;
}

.imgContainer{
    width : 85vw !important;
    height : 70vh !important;
}

.imp {
    width : fit-content !important
}



